#rating_information_box {
	width: 500px;
}

#rating_information_box .section {
	width: 100%;
	margin: 2px 0 2px 0;
}

.loading {
	width: 16px;
	height: 16px;
	background: url(../images/loading.gif);
}

#elm-ratings-settings {
	width: 100%;
	margin: 0 auto;
}

#elm-ratings-settings .desc {
	border-bottom: 1px solid #CCC;
	padding: 0 0 5px 0;
}

#elm-ratings-settings label {
	margin: 0 0 0 1px;
}

#elm-ratings-settings input[type="checkbox"] {
	margin: 0 9px 0 1px;

}

#elm-ratings-settings .width-150 {
	width: 150px;
}

#elm-ratings-settings .width-250 {
	width: 250px;
}

#elm-ratings-settings #preview-icons {
	width: 100%; 
	margin: 10px 0 10px 0;
	float: left;
}

/* -------------------------------------------------- */

#urm-wrapper {
	width: 100%;
	margin: 0 auto;
}

#urm-wrapper #urm-messages {
	width: 100%;
}

.width-50 {
	width: 50px;
}

.width-150 {
	width: 150px;
}

.width-200 {
	width: 200px;
}

#urm-wrapper .margin-top-15 {
	margin: 15px 0 0 0;
}

#urm-wrapper .margin-top-20 {
	margin: 20px 0 0 0;
}

#urm-wrapper .loading {
	width: 100%;
	background: #000;
}

#urm-wrapper .fade-out {
	background: #6dff6d;
}

#urm-wrapper .fade-in {
	background: #f9f9f9;
}

#urm-wrapper .loading-container {
	width: 50px;
	margin: 3px 0 0 0;
	float: left;
}

#urm-wrapper .loading-spinner {
	width: 16px;
	height: 16px;
	background: url('../images/loading-spinner.gif') no-repeat;
	float: left;
}

#urm-wrapper .edit-icon {
	display: block;
	width: 16px;
	height: 16px;
	background: url('../images/edit.png') no-repeat;
}

#urm-wrapper #top {
	width: 100%;
	margin: 10px 0 10px 0;
}

#elm-settings-tabs {
	margin: 5px 0 15px 0;
}

#urm-wrapper .error-message {
	width: 100%;
	background: #ffebe8;
	border: 1px solid #cc0000;
	border-radius: 3px;
	margin: 5px 0px 15px;
}

#urm-wrapper .error-message p {
	color: #333;
	font-weight: normal;
	margin: 8px 7px 8px 9px;
}

#urm-wrapper .update-message {
	width: 100%;
	background: #ffffe0;
	border: 1px solid #e6db55;
	border-radius: 3px;
	margin: 5px 0px 15px;
}

#urm-wrapper .update-message p {
	color: #333;
	font-weight: normal;
	margin: 8px 7px 8px 9px;
}

#urm-content {
	width: 70%;
}

#urm-content .desc {
	border-bottom: 1px solid #CCC;
	padding: 0 0 5px 0;
}

#top .user-search {
	width: 150px;
} 

.ratings-image li img {
	vertical-align: -5px;
}

.elm-color {
	width: 80px !important;
	margin: 0 0 0 7px;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.display-inline {
	display: inline;
}

.full-width {
	width: 100%;
}

.exclude-by-post-id {
	margin: 0 0 0 7px;
}

.reset-post-type-stats-message {
	width: 200px;
	color: #7ad03a;
}

